#dd {
  background-color: beige;
  font-style: italic;
  font-weight: bold;
}

#dt {
  background-color: bisque;
  border: solid;
}

#sid {
  background-color: beige;
  font-style: italic;
  font-weight: bold;
}

#sidd {
  background-color: bisque;
  border: solid;
}
